doctype html
html(lang="en")
    body
        div(id='tableBody')
            table 
                tr 
                     th ID 
                    th Name  
                    th Price  
                    th Image 
                tbody(id='tbody')
                    each value in dataJson
                        tr
                            td= value.id    
                            td= value.title
                            td= value.price
                            td
                                img(src=value.thumbnail alt='No image') 
